// :root{
//     --color-primary: #eb2f64;
// }

$color-primary: #eb2f64;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$shadow-light: 0 2rem 5rem rgba(0,0,0,0.3);
$shadow-dark: 0 2rem 6rem rgba(0,0,0,.6);

$line: 1px solid $color-grey-light-2;

$break-lg: 75em; // 1200px
$break-md: 68.75em; // 900px
$break-sm: 37.5em; // 600px
$break-xs: 31.5em; // 600px
